<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact</a>
      </nav>
    <h2>{% block title %}Base - Flask Template Inheritance{% endblock %}</h2>
    </header>
    <p>{% block content %}Base content{% endblock %}</p>
    <footer>
      <p>Min Flask Site</p>
    </footer>
  </body>

</html>
